---
layout: page
title: Posts
permalink: /archives/
redirect_from:
- /blog/
- /posts/
---

<p class="text-4xl font-light text-gray-700 dark:text-gray-300">All of my <span class="text-blue-600 dark:text-blue-400">posts</span> and <span class="text-purple-600 dark:text-purple-400">writing</span> over the years.</p>

<div class="my-8 border-t border-gray-200 dark:border-gray-700"></div>

{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% unless post.hidden %}
    {% if year != lastyear %}
      <h2 class="mt-8 mb-4 text-2xl font-semibold text-blue-600 dark:text-blue-400">{{ year }}</h2>
    {% endif %}
    <article class="py-2">
      <a class="block no-underline hover:text-blue-600 hover:underline text-gray-800 dark:text-gray-200" href="{{ site.baseurl }}{{ post.url }}">
        <span class="text-lg">
          {% if post.category %}
            {% assign topic = site.topics | where:"category", post.category | first %}
            {% if topic.show_on_homepage %}
              {% if topic.emoji %}{{ topic.emoji }}{% endif %}
              {{ post.category }}:
            {% endif %}
          {% endif %}
          {{ post.title | markdownify | remove:'<p>' | remove:'</p>' }}
          {% if post.redirect_to %}
            <i class="ml-1 text-base far fa-external-link" aria-hidden="true"></i>
          {% endif %}
        </span>
        <time class="text-base text-gray-500 dark:text-gray-400" datetime="{{ post.date | date_to_xmlschema }}">
          - {{ post.date | date:"%B %e, %Y" }}
        </time>
      </a>
    </article>
  {% endunless %}
  {% capture lastyear %}{{ post.date | date: '%Y' }}{% endcapture %}
{% endfor %}
