---
layout: default
title: Jeff Triplett
permalink: /
---

<section class="posts">
  {% for post in site.posts %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% unless post.hidden %}
      {% if year != lastyear %}
        <h2 class="category-title">{{ year }}</h2>
      {% endif %}
      <article class="row">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <span class="post-title two-thirds column {% if post.draft %}draft{% endif %}">
            {{ post.title | markdownify }}
            {% comment %}
            <i class="fa fa-external-link" aria-hidden="true"></i>
            {% endcomment %}
          </span>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date one-third column">
            {{ post.date | date:"%B %e" }}
          </time>
        </a>
      </article>
    {% endunless %}
    {% capture lastyear %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% endfor %}

  {% comment %}
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
  {% endcomment %}
</section>
