---
layout: default
title: Topics
permalink: /topics/
sitemap: false
---

{% comment%}
Here we generate all the categories.
{% endcomment%}

<h1 class="font-semibold">
  {{ page.title }}
</h1>

<div class="posts">
  {% for topic in site.topics %}
    <h4 id="{{ topic.category | slugify }}">
      <a href="{{ topic.url }}">
        {% if topic.category_verbose %}
          {{ topic.category_verbose }}
        {% else %}
          {{ topic.category }}
        {% endif %}
      </a>
    </h4>
  {% endfor %}
</div>
