version: "3.2"

services:

  jekyll:
    image: jekyll/jekyll
    ports:
      - 8000:8000
    volumes:
      - .:/srv/jekyll
      - .vendor/bundle:/usr/local/bundle
    command: ["jekyll", "serve", "--watch", "--profile", "--drafts", "--port", "8000"]
