---
layout: default
title: Home
permalink: /
redirect_from:
- /blog/
- /posts/
---

<section class="grid grid-cols-1 sm:grid-cols-2 gap-6 mx-auto w-full max-w-md md:max-w-2xl lg:max-w-5xl">
  <section class="gap-4 w-full leading-normal col-span-2 dark:text-white text-2xl">
    <header class="">
      <h2 class="text-4xl font-semibold leading-normal dark:text-yellow-200">Hello</h2>
    </header>
    <p>
      Welcome to my corner of the internet.
      If you aren't sure where to start, try my
      <a class="outline-none underline hover:underline dark:text-yellow-100 bhover:text-blue-600" href="{% link _pages/now.md %}">now</a> page.
    </p>
  </section>

  <section class="flex flex-col gap-4 w-full leading-normal">
    <header class="">
      <h2 class="text-4xl font-semibold leading-normal dark:text-yellow-200">Micro Blog</h2>
    </header>
    {% for post in site.posts %}
      {% unless post.hidden and post.category != "micro.blog" %}
        <article class="flex flex-wrap text-gray-800 dark:text-blue-100">
          <a class="outline-none no-underline hover:underline hover:text-blue-600 flex-rows gap-8" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title | markdownify | remove:'<p>' | remove:'</p>' }}

            <time datetime="{{ post.date | date_to_xmlschema }}">
              - {{ post.date | date:"%B %e, %Y" }}
            </time>

            {% if post.redirect_to %}
              <i class="text-base far fa-external-link" aria-hidden="true"></i>
            {% endif %}
          </a>
        </article>
      {% endunless %}
      {% capture lastyear %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% endfor %}
  </section>

  <section class="flex flex-col gap-4 w-full leading-normal">
    <header class="">
      <h2 class="text-4xl font-semibold leading-normal dark:text-yellow-200">Writing</h2>
    </header>
    {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% unless post.hidden %}
        {% unless post.category == "micro.blog" %}
          {% if year != lastyear %}
            <header class="">
              <h2 class="text-3xl font-semibold leading-normal dark:text-yellow-100">{{ year }}</h2>
            </header>
          {% endif %}
          <article class="flex flex-wrap text-gray-800 dark:text-white">
            <a class="outline-none no-underline hover:underline hover:text-blue-600 {% if post.draft %}text-red-700 dark:text-red-300{% endif %}" href="{{ site.baseurl }}{{ post.url }}">
              {% if post.category %}
                {% assign topic = site.topics | where:"category", post.category | first %}
                {% if topic.show_on_homepage %}
                  {% if topic.emoji %}{{ topic.emoji }}{% endif %}
                  {{ post.category }}:
                {% endif %}
              {% endif %}

              {{ post.title | markdownify | remove:'<p>' | remove:'</p>' }}

              {% if post.redirect_to %}
                <i class="text-base far fa-external-link" aria-hidden="true"></i>
              {% endif %}

              <time datetime="{{ post.date | date_to_xmlschema }}">
                - {{ post.date | date:"%B %e, %Y" }}
              </time>
            </a>
          </article>
        {% endunless %}
      {% endunless %}
      {% capture lastyear %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% endfor %}
  </section>

</section>
