<nav>
  <ul>
  {% for link in site.data.navigation.links %}
    {% if link.show_in_footer == true %}
      <li>
        <a href="{{ link.url }}"{% if link.aria-label %} aria-label="{{ link.aria-label }}" title="{{ link.aria-label }}"{% endif %}>{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
<section class="copyright">
  &copy; <time datetime="{{ site.time | date_to_xmlschema }}">2016 - {{ site.time | date: '%Y' }}</time> Jeff Triplett
  <span>v{{ site.version }}</span>
</section>
