<section class="mx-auto mb-4 max-w-md text-sm text-center md:max-w-2xl lg:max-w-5xl dark:hover:text-white hover:text-dark">
  <nav class="mb-3 w-full text-center dark:text-white text-md">
    <ul>
      {% for link in site.data.navigation %}
        {% if link.show_in_footer == true %}
          <li class="inline-block py-1 px-1 sm:py-2 sm:px-2 dark:hover:text-white hover:text-dark">
            <a class="no-underline hover:underline dark:hover:text-white hover:text-dark"
               href="{{ link.url }}"
               rel="{% if link.rel %} {{ link.rel }}{% else %}nofollow{% endif %}"
               {% if link.aria-label %} aria-label="{{ link.aria-label }}" title="{{ link.aria-label }}"{% endif %}
            >{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <section class="mb-4 w-full text-sm text-center dark:hover:text-white hover:text-dark">
    <strong>jefftriplett.com</strong> and all contents copyright
    <time datetime="{{ site.time | date_to_xmlschema }}">2016&ndash;{{ site.time | date: '%Y' }}</time> by
    <span>Jeff Triplett</span> unless otherwise noted.
    &mdash; <span>v{{ site.version }}</span>
  </section>
</section>
