<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% if page.title %}{{ page.title | markdownify | strip_html | strip_newlines }} |{% endif %} {{ site.title }}</title>
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/JeffTriplett" title="Jeff Triplett">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" sizes="32x32" href="/assets/images/favicon-32.png">
  <link rel="icon" sizes="128x128" href="/assets/images/favicon-128.png">
  <link rel="icon" sizes="152x152" href="/assets/images/favicon-152.png">
  <link rel="icon" sizes="167x167" href="/assets/images/favicon-167.png">
  <link rel="icon" sizes="180x180" href="/assets/images/favicon-180.png">
  <link rel="icon" sizes="192x192" href="/assets/images/favicon-192.png">
  <link rel="icon" sizes="196x196" href="/assets/images/favicon-196.png">
  <link rel="dns-prefetch" href="//feeds.feedburner.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//pro.fontawesome.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400|Alegreya&display=swap">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-y++enYq9sdV7msNmXr08kJdkX4zEI1gMjjkw0l9ttOepH7fMdhb7CePwuRQCfwCr" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/2020.css">
  <!--
  <link rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/pygments/github.css">
  <link rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/pygments/monokai.css">
  -->
  <link rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/pygments/default.css">
  <link rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/termynal.css">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/favicon-196.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="twitter:dnt" content="on">
{% seo title=false %}
{% if page.categories %}{% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}
{% if page.tags %}{% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">{% endfor %}{% endif %}
</head>
