<div class="flex flex-col mx-auto max-w-md sm:flex-row sm:items-center md:max-w-2xl lg:max-w-5xl">
  <div class="self-center mb-3 w-full text-2xl text-center sm:mb-0 sm:text-3xl sm:text-left md:w-1/3">
    <h1 class="m-0 font-bold">
      <a href="/" class="no-underline hover:underline">
        {{ site.title }}
      </a>
    </h1>
    {% comment %}<small>{{ site.tagline }}</small>{% endcomment %}
  </div>
  <nav class="self-center w-full md:w-2/3 md:text-right" aria-label="Main Navigation">
    <ul class="flex flex-wrap gap-y-1 gap-x-2 justify-center md:justify-end">
      {% for link in site.data.navigation %}
        {% if link.show_in_header == true %}
          <li class="inline-block py-1 px-1 text-sm sm:text-base">
            <a href="{{ link.url }}"
               class="whitespace-nowrap hover:underline"
               {% if link.aria-label %}aria-label="{{ link.aria-label }}" title="{{ link.aria-label }}"{% endif %}
               {% if link.nofollow %}rel="nofollow"{% endif %}
            >{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
