<aside class="w-full pt-3 my-3 border-t-2 border-dashed sm:my-8">
  <h2 class="mt-4 text-xl font-semibold">Post Meta</h2>
  <ul>
    <li>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        <i class="text-base far fa-calendar" aria-hidden="true"></i>
        Published: {{ page.date | date:"%B %e, %Y" }}
      </time>
    </li>

    {% if page.updated %}
    <li>
      <time datetime="{{ page.updated | date_to_xmlschema }}">
        <i class="text-base far fa-calendar" aria-hidden="true"></i>
        Updated: {{ page.updated | date:"%B %e, %Y" }}
      </time>
    </li>
    {% endif %}

    {% if page.location %}
    <li>
      <i class="text-base fas fa-map-marker" aria-hidden="true"></i>
      In {{ page.location }}
    </li>
    {% endif %}

    {% if page.weather %}
    <li>
      <i class="text-base fas fa-thermometer-half"></i>
      {{ page.weather }}
    </li>
    {% endif %}
  </ul>
</aside>
