{% if page.previous or page.previous %}
  <aside class="py-4 w-full border-t-2">
    <section class="prose sm:prose-md md:prose-lg lg:prose-lg xl:prose-xl dark:prose-invert">
      <h2 class="text-2xl font-semibold">More Articles</h2>
    </section>
  </aside>

  {% if page.previous %}
    <aside class="py-4 w-full">
      <article class="md:mx-16 prose sm:prose-md md:prose-lg lg:prose-lg xl:prose-xl dark:prose-invert">
        <h3 class="text-xl"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h3>
        <time datetime="{{ page.previous.date | date_to_xmlschema }}" class="flex items-center gap-2">
          <i class="text-base far fa-calendar" aria-hidden="true"></i>
          <span>{{ page.previous.date | date:"%B %e, %Y" }}</span>
        </time>
      </article>
    </aside>
  {% endif %}

  {% if page.next %}
    <aside class="py-4 w-full">
      <article class="md:mx-16 prose sm:prose-md md:prose-lg lg:prose-lg xl:prose-xl dark:prose-invert">
        <h3 class="text-xl"><a href="{{ page.next.url }}">{{ page.next.title }}</a></h3>
        <time datetime="{{ page.next.date | date_to_xmlschema }}" class="flex items-center gap-2">
          <i class="text-base far fa-calendar" aria-hidden="true"></i>
          <span>{{ page.next.date | date:"%B %e, %Y" }}</span>
        </time>
      </article>
    </aside>
  {% endif %}

{% endif %}
