<aside class="w-full leading-normal border-t-2">
  <div class="text-gray-800 dark:text-white flex flex-col gap-1">
    <h2 class="text-2xl font-semibold">Post Meta</h2>
    <div class="text-xl">
      <i class="text-base far fa-calendar" aria-hidden="true"></i>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        Published: {{ page.date | date:"%B %e, %Y" }}
      </time>
    </div>

    {% if page.updated %}
      <div>
        <i class="text-base far fa-calendar" aria-hidden="true"></i>
        <time datetime="{{ page.updated | date_to_xmlschema }}">
          Updated: {{ page.updated | date:"%B %e, %Y" }}
        </time>
      </div>
    {% endif %}

    {% if page.location %}
      <div>
        <i class="text-base fas fa-map-marker" aria-hidden="true"></i>
        In {{ page.location }}
      </div>
    {% endif %}

    {% if page.weather %}
      <div>
        <i class="text-base fas fa-thermometer-half"></i>
        {{ page.weather }}
      </div>
    {% endif %}
  </div>
</aside>
