<aside class="my-4 p-4 bg-gray-100 rounded-lg shadow-md overflow-hidden border-t-2">
  <h3>Sharing</h3>
  <div class="flex">
    <ul>
      <li class="inline-block">
        <a href="https://twitter.com/intent/tweet?url={{ site.url | url_encode }}{{ page.url | url_encode }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}&text={{ page.title | markdownify | strip_html | strip_newlines | truncate: 100 }}" rel="nofollow" target="_blank" title="Share on Twitter">
          Twitter
        </a>
      </li>
      <li class="inline-block">
        <a href="https://facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" rel="nofollow" target="_blank" title="Share on Facebook">
          Facebook
        </a>
      </li>
    </ul>
  </div>
</aside>
