<aside class="w-full py-6 mt-8 leading-normal border-t-2 border-gray-200 dark:border-gray-700">
  <div class="flex flex-col gap-3 text-gray-800 dark:text-gray-200">
    <h2 class="mb-2 text-2xl font-semibold">Post Meta</h2>
    
    <div class="flex items-center gap-3 text-lg">
      <i class="w-5 text-center far fa-calendar text-gray-600 dark:text-gray-400" aria-hidden="true"></i>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        Published: {{ page.date | date:"%B %e, %Y" }}
      </time>
    </div>

    {% if page.updated %}
      <div class="flex items-center gap-3 text-lg">
        <i class="w-5 text-center far fa-calendar text-gray-600 dark:text-gray-400" aria-hidden="true"></i>
        <time datetime="{{ page.updated | date_to_xmlschema }}">
          Updated: {{ page.updated | date:"%B %e, %Y" }}
        </time>
      </div>
    {% endif %}

    {% if page.location %}
      <div class="flex items-center gap-3 text-lg">
        <i class="w-5 text-center fas fa-map-marker text-gray-600 dark:text-gray-400" aria-hidden="true"></i>
        <span>In {{ page.location }}</span>
      </div>
    {% endif %}

    {% if page.weather %}
      <div class="flex items-center gap-3 text-lg">
        <i class="w-5 text-center fas fa-thermometer-half text-gray-600 dark:text-gray-400" aria-hidden="true"></i>
        <span>{{ page.weather }}</span>
      </div>
    {% endif %}
  </div>
</aside>
