<article class="flex flex-col flex-wrap gap-2 p-2 min-h-48">
  <div>
    <a href="{{ include.project.github }}">{{ include.project.title }}</a>
    {% if include.project.github %}
      <span><a href="{{ include.project.github }}"><i class="text-gray-700 text-base fab fa-github" aria-hidden="true"></i></a></span>
    {% endif %}
    {% if include.project.homepage %}
      <span><a href="{{ include.project.homepage }}"><i class="text-gray-700 text-base fas fa-home" aria-hidden="true"></i></a></span>
    {% endif %}
  </div>
  <div>
    {{ include.project.content }}
  </div>
</article>
