// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––

footer {
  border-top: 2px dashed $border-color;
  margin: 1rem 0 0;
  margin-top: 1.5em;
  text-align: center;

  nav {
    margin: 1rem 0 1.414rem;

    // @extend .u-pull-right;

    ul li {
      display: inline;
      margin: 0 10px 0 0;
      margin-bottom: 130px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

