// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––

header {
  margin-bottom: 1.5em;
  vertical-align: bottom;
  border-bottom: 2px dashed $border-color;

  h1,
  h2,
  h3 {
    margin-bottom: 0.5em;
  }

  .title {
    a {
      text-decoration: none;
    }

    a:hover {
      // text-decoration: underline;
    }
  }

  nav {
    margin: 1rem 0 1.414rem;

    @extend .u-pull-right;

    ul li {
      display: inline;
      margin: 0 20px 0 0;
      margin-bottom: 130px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
