// Posts
//––––––––––––––––––––––––––––––––––––––––––––––––––

article.post {
  //border: 2px dashed $secondary-color;

  .post-meta {
    margin-bottom: 1.5rem;
  }

  time.post-date {
    color: $secondary-color;
    // border: 2px dashed $secondary-color;
    // margin-top: 100px;
    // margin-bottom: 100px;
    // margin-top: 3rem;
    // margin-bottom: 3.5rem;
  }

  .sharing {
    // text-align: center;
  }

  margin-bottom: 3.5rem;
}

.posts, .post-meta, .related {

  article {
    // margin-bottom: 1.5rem;
    a {
      text-decoration: none;
      border-bottom: 1px black dotted;
    }

    a:hover {
      // text-decoration: underline;
    }

    .post-title {
    }

    .post-date {
      text-align: right;
      // @extend .u-pull-right;
    }

    .draft {
      color: $primary-color;
    }

    .post-tags {
    }

    .post-categories {
    }

    margin-bottom: 2.5rem;
  }

  blockquote, iframe .instagram-media {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media ($bp-smaller-than-phablet) {
  .posts, .post-meta, .related {
    article {
      .post-date {
        text-align: left;
      }
    }
  }
}

.related {
  border-top: 2px dashed $border-color;
  margin-top: 3.5rem;
  h1, h2, h3 {
    margin-top: 3rem;
  }
}

/*
ul {
   list-style-type: disc;
   list-style-position: inside;
}
ol {
   list-style-type: decimal;
   list-style-position: inside;
}
ul ul, ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
ol ol, ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}
*/
