// Posts
//––––––––––––––––––––––––––––––––––––––––––––––––––

article.post {
  //border: 2px dashed $secondary-color;

  .post-meta {
    margin-bottom: 1.5rem;
  }

  time.post-date {
    color: $secondary-color;
    // border: 2px dashed $secondary-color;
    // margin-top: 100px;
    // margin-bottom: 100px;
    // margin-top: 3rem;
    // margin-bottom: 3.5rem;
  }

  margin-bottom: 3.5rem;
}

.posts,
.post-meta,
.related,
.sharing {
  article {
    // margin-bottom: 1.5rem;
    a {
      text-decoration: none;
      border-bottom: 1px black dotted;
    }

    a:hover {
      // text-decoration: underline;
    }

    .post-title {
    }

    .post-date {
      text-align: right;
      // @extend .u-pull-right;
    }

    .draft {
      color: $primary-color;
    }

    .post-tags {
    }

    .post-categories {
    }

    margin-bottom: 2.5rem;
  }

  blockquote,
  iframe .instagram-media {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media ($bp-smaller-than-phablet) {
  .posts,
  .post-meta,
  .related {
    article {
      .post-date {
        text-align: left;
      }
    }
  }
}

.related {
  border-top: 2px dashed $border-color;
  margin-top: 3.5rem;
  h1,
  h2,
  h3 {
    margin-top: 3rem;
  }
}

.sharing {
  // text-align: center;
  // border: 2px dashed #CAD1D8;
}

.embed {
  position: relative;
  padding: 0;
  padding-bottom: 56.25%; /* 16:9 ratio*/
  height: 0;
  overflow: hidden;
}

.embed iframe,
.embed object,
.embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
ul {
   list-style-type: disc;
   list-style-position: inside;
}
ol {
   list-style-type: decimal;
   list-style-position: inside;
}
ul ul, ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
ol ol, ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}
*/

.meta-list {
  // border: 2px dashed #CAD1D8;
  // border-top: dotted 2px #CAD1D8;
  // border-top: dashed 2px $border-color;
  margin: 0 0;
  list-style-type: none;
  padding-top: 3%;
  position: relative;
  // color: #8E969E;
  font-style: normal;
  font-size: 0.75em;
}

.meta-list li {
  padding: 0 10px 0 0;
  position: relative;
  display: inline-block;
  min-width: 32%;
  max-width: 32%;
  vertical-align: top;
}

@media (max-width: 800px) {
  .meta-list {
    padding: 7% 0 5% 0;
  }

  .meta-list li {
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
  }

  .meta-list li:last-child {
    margin-bottom: 0;
  }
}

.meta-list strong {
  // color: #383F49;
  display: inline-block;
  width: 100%;
}

.meta-list a {
  color: #6f7f8d;
}

.meta-list a:hover {
  color: #383f49;
}
