---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="mx-auto text-lg text-gray-800 dark:text-gray-200 dark:bg-gray-900">
    <header class="py-4 px-2 align-baseline border-b-2 border-slate-700">
      {% include header.html %}
    </header>

    <main class="py-4 px-2">
      <section class="flex flex-wrap mx-auto w-full max-w-md md:max-w-2xl lg:max-w-5xl">
        {{ content }}
      </section>
    </main>

    <footer class="py-4 px-2 border-t-2 lg:py-8 border-slate-700">
      {% include footer.html %}
    </footer>
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    {% include analytics.html %}
  </body>
</html>
