---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="flex flex-col gap-4 mx-auto min-h-screen text-lg text-gray-900 dark:text-gray-100 dark:bg-gray-900">
    <header class="py-4 px-4 align-baseline border-b-2 sm:px-6 lg:px-8 border-slate-700">
      {% include header.html %}
    </header>

    <main class="flex-grow py-4 px-4 sm:px-6 lg:px-8">
      <section class="grid grid-cols-1 gap-6 mx-auto w-full max-w-md md:max-w-2xl lg:max-w-5xl">
        {{ content }}
      </section>
    </main>

    <footer class="py-4 px-4 border-t-2 sm:px-6 lg:py-8 lg:px-8 border-slate-700">
      {% include footer.html %}
    </footer>
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    {% include analytics.html %}
  </body>
</html>
