---
layout: default
---
<article class="max-w-none prose prose-a:underline prose-a:px-1 prose-a:py-1 sm:prose-md md:prose-lg lg:prose-lg xl:prose-xl dark:prose-invert dark:prose-text-black">
  <h1 class="font-semibold">{{ page.title | markdownify | remove:'<p>' | remove:'</p>' }}</h1>
  {{ content }}
</article>

<section class="grid grid-cols-1 gap-8 w-full">
  <h3 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
    <a class="hover:text-blue-600 hover:underline" href="{% link _pages/movies.md %}">📺 Watching: Movies</a>
  </h3>
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
    {% assign sorted_movies = site.movies | sort: 'date' | reverse %}
    {% for movie in sorted_movies limit:4 %}
      <article>
        <a href="{{ movie.link }}" class="no-underline" aria-label="View details for {{ movie.title }}">
          <figure class="flex flex-col gap-2 h-full sm:gap-4">
            {% if movie.cover %}
              <div class="overflow-hidden rounded-md aspect-[2/3]">
                <img class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110" src="{{ movie.cover }}" alt="Cover image for {{ movie.title }}">
              </div>
            {% endif %}
            <figcaption class="text-sm font-semibold text-center sm:text-base">{{ movie.title }}</figcaption>
          </figure>
        </a>
      </article>
    {% endfor %}
  </div>
</section>

<section class="grid grid-cols-1 gap-8 w-full">
  <h3 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
    <a class="hover:text-blue-600 hover:underline" href="{% link _pages/series.md %}">📺 Watching: Series</a>
  </h3>
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
    {% assign sorted_series = site.series | sort: 'date' | reverse %}
    {% for series in sorted_series limit:4 %}
      <article>
        <a href="{{ series.link }}" class="no-underline" aria-label="View details for {{ series.title }}">
          <figure class="flex flex-col gap-2 h-full sm:gap-4">
            {% if series.cover %}
              <div class="overflow-hidden rounded-md aspect-[2/3]">
                <img class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110" src="{{ series.cover }}" alt="Cover image for {{ series.title }}">
              </div>
            {% endif %}
            <figcaption class="text-sm font-semibold text-center sm:text-base">{{ series.title }}</figcaption>
          </figure>
        </a>
      </article>
    {% endfor %}
  </div>
</section>

<section class="grid grid-cols-1 gap-8 w-full">
  <h3 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
    <a class="hover:text-blue-600 hover:underline" href="{% link _pages/games.md %}">🎮 Playing: Games</a>
  </h3>
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
    {% assign sorted_games = site.games | sort: 'date' | reverse %}
    {% for game in sorted_games limit:8 %}
      <article>
        <a href="{{ game.link }}" class="no-underline" aria-label="View details for {{ game.title }}">
          <figure class="flex flex-col gap-2 h-full sm:gap-4">
            {% if game.cover %}
              <div class="overflow-hidden rounded-md aspect-[2/3]">
                <img class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110" src="{{ game.cover }}" alt="Cover image for {{ game.title }}">
              </div>
            {% endif %}
            <figcaption class="text-sm font-semibold text-center sm:text-base">{{ game.title }}</figcaption>
          </figure>
        </a>
      </article>
    {% endfor %}
  </div>
</section>

<section class="grid grid-cols-1 gap-8 w-full">
  <h3 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
    <a class="hover:text-blue-600 hover:underline" href="{% link _pages/music.md %}">🎵 Listening: Music</a>
  </h3>
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
    {% assign sorted_music = site.music | sort: 'date' | reverse %}
    {% for item in sorted_music limit:4 %}
      <article>
        <a href="{{ item.link }}" class="no-underline" aria-label="View details for {{ item.title }}">
          <figure class="flex flex-col gap-2 h-full sm:gap-4">
            {% if item.cover %}
              <div class="overflow-hidden rounded-md aspect-[2/3]">
                <img class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110" src="{{ item.cover }}" alt="Cover image for {{ item.title }}">
              </div>
            {% endif %}
            <figcaption class="text-sm font-semibold text-center sm:text-base">{{ item.title }}</figcaption>
          </figure>
        </a>
      </article>
    {% endfor %}
  </div>
</section>

<section class="grid grid-cols-1 gap-8 w-full">
  <h3 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
    <a class="hover:text-blue-600 hover:underline" href="{% link _pages/products.md %}">🛍️ Consuming: Products</a>
  </h3>
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 md:gap-8 lg:grid-cols-4">
    {% assign sorted_products = site.products | sort: 'date' | reverse %}
    {% for product in sorted_products limit:8 %}
      <article>
        <a href="{{ product.link }}" class="no-underline" aria-label="View details for {{ product.title }}">
          <figure class="flex flex-col gap-2 h-full sm:gap-4">
            {% if product.cover %}
              <div class="overflow-hidden rounded-md aspect-[2/3]">
                <img class="object-cover w-full h-full transition duration-300 ease-in-out hover:scale-110" src="{{ product.cover }}" alt="Product image for {{ product.title }}">
              </div>
            {% endif %}
            <figcaption class="text-sm font-semibold text-center sm:text-base">{{ product.title }}</figcaption>
          </figure>
        </a>
      </article>
    {% endfor %}
  </div>
</section>
<section class="grid grid-cols-1 gap-4 p-4 my-4 w-full rounded-md border-2 border-blue-950">
  <p>
    This page is inspired by
    <a class="underline" href="http://aaronsumner.com/pages/now.html">Aaron Sumner's Now Page</a>
    which was inspired by
    <a class="underline" href="https://sivers.org/now">Derek Sivers's</a>
    <a class="underline" href="http://nownownow.com/about">Now Page Movement</a>.
  </p>
</section>
