---
layout: default
---

<div class="w-full">
  <article class="prose prose-a:underline prose-a:px-1 prose-a:py-1 sm:prose-md md:prose-lg lg:prose-lg xl:prose-xl dark:prose-invert">
    <h1 class="mb-4 font-semibold {% if page.draft %}text-red-700 dark:text-red-300{% endif %}">
      {% assign topic = site.topics | where:"category", page.category | first %}
      {% if page.category and topic.show_on_homepage %}
        {{ topic.category }}:
      {% endif %}
      {{ page.title | markdownify | remove:'<p>' | remove:'</p>' }}
    </h1>

    {% if page.tags.size > 0 %}
      <div class="flex flex-wrap gap-1 items-center mb-6 text-sm text-gray-600 dark:text-gray-400">
        <span>Filed under: </span>
        {% for tag in page.tags %}
          <a href="?tags={{ tag }}" class="py-1 px-2 bg-gray-100 rounded-full dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700">{{ tag }}</a>{% if forloop.last != true %} {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="mt-8">
      {{ content }}
    </div>
  </article>
</div>

<!-- Sharing -->
{% comment %}
{% include post_sharing.html %}
{% endcomment %}
<!-- End of Sharing -->

<!-- Post Meta -->
{% include post_meta.html %}
<!-- End of Post Meta -->

<!-- Previous/Next Posts -->
{% include post_previous_next.html %}
<!-- End of Previous/Next  Posts -->

<!-- Related Posts -->
{% comment %}
{% include post_related.html %}
{% endcomment %}
<!-- End of Related Posts -->

<!-- Post Javascript -->
{% include post_javascript.html %}
<!-- End of Javascript -->
