---
layout: default
---

<section class="w-full">
  <article class="prose sm:prose-md md:prose-lg lg:prose-lg xl:prose-xl dark:prose-invert">
    <h1 class="font-semibold {% if page.draft %}text-red-700 dark:text-red-300{% endif %}">
      {% assign topic = site.topics | where:"category", page.category | first %}
      {% if page.category and topic.show_on_homepage %}
        {{ topic.category }}:
      {% endif %}
      {{ page.title | markdownify | remove:'<p>' | remove:'</p>' }}
    </h1>

    {% if page.tags.size > 0 %}
      <section>
        <span>Filed under: </span>
        {% for tag in page.tags %}<a href="?tags={{ tag }}">{{ tag }}</a>{% if forloop.last != true %},{% endif %} {% endfor %}
      </section>
    {% endif %}

    <section>
      {{ content }}
    </section>
  </article>
</section>

<!-- Sharing -->
{% comment %}
{% include post_sharing.html %}
{% endcomment %}
<!-- End of Sharing -->

<!-- Post Meta -->
{% include post_meta.html %}
<!-- End of Post Meta -->

<!-- Previous/Next Posts -->
{% include post_previous_next.html %}
<!-- End of Previous/Next  Posts -->

<!-- Related Posts -->
{% comment %}
{% include post_related.html %}
{% endcomment %}
<!-- End of Related Posts -->

<!-- Post Javascript -->
{% include post_javascript.html %}
<!-- End of Javascript -->
