---
layout: default
---
<article class="leading-normal">
  <h1>
    Topics labeled "{{ page.category }}"
  </h1>

  <div class="posts">
    {% for post in site.categories[page.category] %}
      {% unless post.hidden %}
      <article class="flex mb-4">
        <div class="w-2/3">
          <a class="outline-none no-underline hover:underline hover:text-blue-dark" href="{{ site.baseurl }}{{ post.url }}">
            {% if post.category %}
              {% assign topic = site.topics | where:"category", post.category | first %}
              {% if topic.show_on_homepage %}
                {{ post.category }}:
              {% endif %}
            {% endif %}

            {{ post.title | markdownify | remove:'<p>' | remove:'</p>' }}

            {% if post.link-out %}
            <i class="far fa-external-link" aria-hidden="true"></i>
            {% endif %}
          </a>
        </div>
        <div class="w-1/3 text-right">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date:"%B %e" }}
          </time>
        </div>
      </article>
      {% endunless %}
    {% endfor %}
  </div>
</article>
