// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin-top: 0;
  margin-bottom: 2rem;
}

h1 { font-size: 3.157em; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 2.369em; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.777em; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.333em; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1em; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 0.75em; line-height: 1.6;  letter-spacing: 0; }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
}
